# =========================
# React / Node.js
# =========================
node_modules/
dist/
build/
.env.*
.env.local
*.tsbuildinfo

# =========================
# Java / Spring Boot
# =========================
target/
*.class
*.jar
*.war

# =========================
# IDE
# =========================
.idea/
.vscode/
.classpath
.project
.settings/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log